.header{
    text-align: center;
    &_main_tag{
        @extend .header;
        background-color: red;
        width: 150px;
        height: 50px;
    }
    &_image_tag{
        @extend .header;
        background-color: blue;
        width: 150px;
        height: 50px;
    }
    &_ranking_tag{
        @extend .header;
        background-color: green;
        width: 150px;
        height: 50px;
    }
}
