.header_style{
    width: 50px;
    height: 50px;
    .header_main_tag{
        background-color: red;
    }
    .header_image_tag{
        background-color: blue;
    }
    .header_ranking_tag{
        background-color: green;
    }
}
